In [ ]:
import sqlite3

In [ ]:
connection = sqlite3.connect('files/test.db')

cursor = connection.cursor()

In [ ]:
create_table = "CREATE TABLE users (id int, username text, password text)"

cursor.execute(create_table)

In [ ]:
users = [
    (1, 'anand', 'anand'),
    (2, 'aravind', 'aravind')
]

insert_table = "INSERT INTO USERS VALUES (?, ?, ?)"

cursor.executemany(insert_table, users)

In [ ]:
SELECT_QUERY = "SELECT * FROM USERS"

for row in cursor.execute(SELECT_QUERY):
    print(row)

In [ ]:
connection.commit()

In [ ]:
connection.close()